{{- if or .Values.primaryCollector.service.enabled .Values.primaryCollector.ingress.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "htp-builder.fullname" . }}-primary-collector
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "htp-builder.primaryCollector.labels" . | nindent 4 }}
    app.kubernetes.io/component: collector
spec:
  type: ClusterIP
  ports:
    {{- toYaml .Values.primaryCollector.service.ports | nindent 4 }}
  selector:
    {{- include "htp-builder.primaryCollector.selectorLabels" . | nindent 4 }}
{{- end }}
