{{- if .Values.primaryCollector.ingress.enabled -}}
{{- $ingresses := prepend .Values.primaryCollector.ingress.additionalIngresses .Values.primaryCollector.ingress -}}
{{- range $ingresses }}
apiVersion: "networking.k8s.io/v1"
kind: Ingress
metadata:
  {{- if .name }}
  name: {{ printf "%s-primary-collector-%s" (include "htp-builder.fullname" $) .name }}
  {{- else }}
  name: {{ include "htp-builder.fullname" $ }}-primary-collector
  {{- end }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "htp-builder.primaryCollector.labels" $ | nindent 4 }}
    app.kubernetes.io/component: collector
  {{- if .annotations }}
  annotations:
    {{- range $key, $value := .annotations }}
    {{- printf "%s: %s" $key (tpl $value $ | quote) | nindent 4 }}
    {{- end }}
  {{- end }}
spec:
  {{- if .ingressClassName }}
  ingressClassName: {{ .ingressClassName }}
  {{- end -}}
  {{- if .tls }}
  tls:
    {{- range .tls }}
    - hosts:
        {{- range .hosts }}
        - {{ tpl . $ | quote }}
        {{- end }}
      {{- with .secretName }}
      secretName: {{ . }}
      {{- end }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .hosts }}
    - host: {{ tpl .host $ | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ include "htp-builder.fullname" $ }}-primary-collector
                port:
                  number: {{ .port }}
          {{- end }}
    {{- end }}
---
{{- end }}
{{- end }}