apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "htp-builder.fullname" . }}-refinery
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "htp-builder.refinery.labels" . | nindent 4 }}
    app.kubernetes.io/component: refinery
spec:
  replicas: {{ .Values.refinery.replicaCount }}
  selector:
    matchLabels:
      {{- include "htp-builder.refinery.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/refinery-configmap-config.yaml") . | sha256sum }}
        checksum/rules: {{ include (print $.Template.BasePath "/refinery-configmap-rules.yaml") . | sha256sum }}
      labels:
        {{- include "htp-builder.refinery.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "htp-builder.refinery.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.refinery.image.repository }}:{{ .Values.refinery.image.tag }}"
          imagePullPolicy: {{ .Values.refinery.image.pullPolicy }}
          command:
            - refinery
            - -c
            - /etc/refinery/config.yaml
            - -r
            - /etc/refinery/rules.yaml
          env:
            - name: K8S_NAMESPACE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: K8S_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: K8S_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: K8S_POD_UID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.uid
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: pipeline.id={{ .Values.pipeline.id }},k8s.namespace.name=$(K8S_NAMESPACE_NAME),k8s.node.name=$(K8S_NODE_NAME),k8s.pod.name=$(K8S_POD_NAME),k8s.pod.uid=$(K8S_POD_UID)
            - name: REFINERY_HONEYCOMB_LOGGER_ADDITIONAL_ATTRIBUTES
              value: pipeline.id:{{ .Values.pipeline.id }},k8s.namespace.name:$(K8S_NAMESPACE_NAME),k8s.node.name:$(K8S_NODE_NAME),k8s.pod.name:$(K8S_POD_NAME),k8s.pod.uid:$(K8S_POD_UID)
            - name: REFINERY_HONEYCOMB_API_KEY
              {{- if .Values.telemetry.ingestKey.value }}
              value: {{ .Values.telemetry.ingestKey.value }}
              {{- else }}
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.telemetry.ingestKey.secret.name }}
                  key: {{ .Values.telemetry.ingestKey.secret.key }}
              {{- end }}
            {{- if or .Values.ingestKey.value .Values.ingestKey.secret }}
            - name: HTP_EXPORTER_APIKEY
              {{- if .Values.ingestKey.value }}
              value: {{ .Values.ingestKey.value }}
              {{- else }}
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.ingestKey.secret.name }}
                  key: {{ .Values.ingestKey.secret.key }}
              {{- end }}
            {{- end }}
            {{- with .Values.refinery.extraEnvs }}
              {{- tpl (. | toYaml) $ | nindent 12 }}
            {{- end }}
          ports:
            - name: data
              containerPort: 8080
              protocol: TCP
            - name: grpc
              containerPort: 4317
              protocol: TCP
            - name: peer
              containerPort: 8081
              protocol: TCP
          volumeMounts:
            - name: refinery-config
              mountPath: /etc/refinery/
            {{- with .Values.refinery.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          livenessProbe:
            httpGet:
              path: /alive
              port: data
            {{- with .Values.refinery.livenessProbe }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          readinessProbe:
            httpGet:
              path: /ready
              port: data
            {{- with .Values.refinery.readinessProbe }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml .Values.refinery.resources | nindent 12 }}
      volumes:
        - name: refinery-config
          projected:
            sources:
              - configMap:
                  name: {{ include "htp-builder.fullname" . }}-refinery-config
                  items:
                    - key: config.yaml
                      path: config.yaml
              - configMap:
                  name: {{ include "htp-builder.fullname" . }}-refinery-rules
                  items:
                    - key: rules.yaml
                      path: rules.yaml
        {{- with .Values.refinery.extraVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
