# Default values for opentelemetry-collector.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

honeycomb:
  # Specify your Honeycomb API KEY to send events
  apiKey: YOUR_API_KEY
  # Specify host URL to send all events to
  apiHost: https://api.honeycomb.io/
  # Specify the name of the dataset to send data to
  dataset: opentelemetry-collector


config:
  receivers:
    otlp:
      endpoint: 0.0.0.0:55680
    jaeger:
      protocols:
        grpc:
          endpoint: 0.0.0.0:14250
        thrift_http:
          endpoint: 0.0.0.0:14268
    zipkin:
      endpoint: 0.0.0.0:9411

  processors:
    batch:
    memory_limiter:
      # memory ballast size should be max 1/3 to 1/2 of pod memory limits
      ballast_size_mib: 683
      # 80% of maximum memory up to 2G
      limit_mib: 400
      # 25% of limit up to 2G
      spike_limit_mib: 100
      # How often to check for memory limits      
      check_interval: 5s
    queued_retry:
      
  extensions:
    health_check:
      port: 13133

  service:
    extensions: [health_check]
    pipelines:
      traces:
        receivers: [otlp, jaeger, zipkin]
        processors: [memory_limiter, batch, queued_retry]
        exporters: [honeycomb]


nameOverride: ""
fullnameOverride: ""
imagePullSecrets: []

image:
  repository: otel/opentelemetry-collector-contrib
  # Overrides the image tag whose default is the chart version.
  tag: ""  
  pullPolicy: IfNotPresent


# used if autoscaling.enabled is false
replicaCount: 1

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  annotations: {}

# Resource memory limits should be modified in conjunction with memory_limiter processor
resources: 
  limits:
    cpu: 1000m
    memory: 2Gi
  requests:
    cpu: 200m
    memory: 400Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
