apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "refinery.fullname" . }}
  labels:
  {{- include "refinery.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
  {{- include "refinery.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap-config.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if eq .Values.config.Metrics "prometheus" }}
        prometheus.io/port: "9090"
        prometheus.io/scrape: "true"
        {{- end }}
        {{- if .Values.rules.LiveReload.disabled }}
        checksum/config: {{ include (print $.Template.BasePath "/configmap-rules.yaml") . | sha256sum }}
        {{- end }}
      labels:
      {{- include "refinery.selectorLabels" . | nindent 8 }}
      {{- with .Values.podLabels }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "refinery.serviceAccountName" . }}
      securityContext:
      {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - "refinery"
            - "-c"
            - "/etc/refinery/config.yaml"
            - "-r"
            - "/etc/refinery/rules.yaml"
          {{- with .Values.environment }}
          env:
          {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: data
              containerPort: 8080
              protocol: TCP
            - name: grpc
              containerPort: 4317
              protocol: TCP
            - name: peer
              containerPort: 8081
              protocol: TCP
            {{- if eq .Values.config.Metrics "prometheus" }}
            - name: metrics
              containerPort: 9090
              protocol: TCP
            {{- end }}
          volumeMounts:
            - name: refinery-config
              mountPath: /etc/refinery/
          livenessProbe:
            httpGet:
              path: /alive
              port: data
          resources:
      {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: refinery-config
          projected:
            sources:
              - configMap:
                  name: {{ include "refinery.fullname" . }}-config
                  items:
                    - key: config.yaml
                      path: config.yaml
              - configMap:
                  name: {{ include "refinery.fullname" . }}-rules
                  items:
                    - key: rules.yaml
                      path: rules.yaml
      {{- with .Values.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
      {{- end }}
