{{- if .Values.redis.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "refinery.redis.fullname" . }}
  namespace: {{ .Release.Namespace }}
  {{- with .Values.redis.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "refinery.redis.labels" . | nindent 4 }}
    {{- with .Values.redis.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  type: ClusterIP
  ports:
    - name: tcp-redis
      port: 6379
      protocol: TCP
      targetPort: redis
  selector:
    {{- include "refinery.redis.selectorLabels" . | nindent 4 }}
{{- end}}