apiVersion: v1
kind: Service
metadata:
  name: {{ include "refinery.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "refinery.labels" . | nindent 4 }}
    {{- with .Values.service.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.service.annotations }}
  annotations:
  {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: data
      {{- if not (empty .Values.service.httpNodePort) }}
      nodePort: {{ .Values.service.httpNodePort }}
      {{- end }}
      protocol: TCP
      name: data
    - port: {{ .Values.service.grpcPort }}
      targetPort: grpc
      {{- if not (empty .Values.service.grpcNodePort) }}
      nodePort: {{ .Values.service.grpcNodePort }}
      {{- end }}
      protocol: TCP
      name: grpc
    {{- if .Values.config.PrometheusMetrics.enabled }}
    - port: 9090
      targetPort: metrics
      protocol: TCP
      name: metrics
    {{- end }}

  selector:
    {{- include "refinery.selectorLabels" . | nindent 4 }}
