apiVersion: v1
kind: Secret
metadata:
  name: {{ include "secure-tenancy.fullname" . }}-migrate
  labels:
  {{- include "secure-tenancy.labels" . | nindent 4 }}
  annotations:
    {{- if .Values.mysql.enabled }}
    "helm.sh/hook": post-install
    {{- else }}
    "helm.sh/hook": pre-install
    {{- end }}
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
type: Opaque
data:
  mysql-user: {{ .Values.mysql.db.user | b64enc | quote }}
  mysql-password: {{ .Values.mysql.db.password | b64enc | quote }}
